/* Left and right 
   gf_left_half
   gf_right_half
*/

body .gform_wrapper .gform_body .gform_fields .gfield input[type=text],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=email],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=url],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=password],
body .gform_wrapper .gform_body .gform_fields .gfield input[type=tel],
body .gform_wrapper .gform_body .gform_fields .gfield select,
body .gform_wrapper .gform_body .gform_fields .gfield textarea {
	background-color:#fff;
	color:#000;
}

/* Specific form and placeholder example */

#gform_wrapper_1 .gform_body .gform_fields .gfield input[type=text],
#gform_wrapper_1 .gform_body .gform_fields .gfield input[type=email],
#gform_wrapper_1 .gform_body .gform_fields .gfield input[type=url],
#gform_wrapper_1 .gform_body .gform_fields .gfield input[type=password],
#gform_wrapper_1 .gform_body .gform_fields .gfield input[type=tel],
#gform_wrapper_1 .gform_body .gform_fields .gfield select,
#gform_wrapper_1 .gform_body .gform_fields .gfield textarea {
   background-color: rgba(255, 255, 255, 0.2);
   background: rgba(255, 255, 255, 0.2);
   color: #fff;
   width: 100%;
   border: none !important;

}

#gform_wrapper_1 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: #fff;
 }
 #gform_wrapper_1 ::-moz-placeholder { /* Firefox 19+ */
   color: #fff;
 }
 #gform_wrapper_1 :-ms-input-placeholder { /* IE 10+ */
   color: #fff;
 }
 #gform_wrapper_1 :-moz-placeholder { /* Firefox 18- */
   color: #fff;
 }

/* Center Submit Button */
.gform_footer.top_label {
   text-align: center;
}

/* Add Icon to Input Field */
li#field_2_1 {
   background: url(whatever.svg) no-repeat;
   background-size: 25px 25px;
   opacity: .5;
   background-position: 95% 45%;
   padding-right: 20px;
}